<br>

<div class="container">
  <div>
    <p>Current User Information:</p>
    <p>Login: {{login}}</p>
    <p>Email: {{email}}</p>
  </div>
  <a href="/profileChange" class="btn btn-primary">Change user information</a> 
  {{!-- <a href="/posts" class="btn btn-primary">Posts</a>  --}}
</div>

